# Logs
logs
*.log
*debug.log*
*error.log*

# Folders & Files
node_modules
.DS_Store
dist
dist-ssr
*.local
*.env
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo

# Editor directories
.vscode/*
!.vscode/extensions.json
.idea

# Terraform
.terraform*
*.tfstate*
*.tfvars