@import './base.css';

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.75rem;
  padding-top: 1.5rem;
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

main {
  flex: 1 0 auto;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 100px;
  padding: 0 calc(var(--gutter-x)* .5);
  border-top: 0.1rem solid var(--color-border);
  /* background-color: var(--color-background-footer); */
  width: 100% !important; /* Override max-width */
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
}

i {
  color: var(--color-text);
}

/* Fonts */
h1 {
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: calc(var(--gutter-y)* .6);
}

h2 {
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  margin-bottom: calc(var(--gutter-y)* .5);
  font-size: 1.4rem;
}

h3 {
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  margin-bottom: calc(var(--gutter-y)* .3);
  font-size: 1.2rem;
}

button {
  padding: var(--input-padding);
  color: var(--color-button-text);
  background-color: var(--color-primary);
  border: 1px solid var(--color-border);
  border-radius: 0.25rem;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: var(--color-primary-muted);
  box-shadow: 0 0 0 .25rem var(--color-shadow-hover);
  outline: 0;
}

hr {
  margin: 1.5rem calc(var(--gutter-x)* .0);
  background-color: var(--color-border);
  border: none;
  height: 0.1rem;
}

.section-box {
  padding: 0.1rem 0;
  background-color: var(--color-section-background);
  border-radius: 0.25rem;
}

.section-gap {
  margin-top: calc(var(--section-gap) / 2);
}

.input-req-validation {
  font-size: 0.75rem;
  color: var(--color-danger);
}

/* Layout defaults */
.col-100 {
  flex: 0 0 auto;
  width: 100%;
}

.col-80 {
  flex: 0 0 auto;
  width: 80%;
}

.col-70 {
  flex: 0 0 auto;
  width: 70%;
}

.col-60 {
  flex: 0 0 auto;
  width: 60%;
}

.col-50 {
  flex: 0 0 auto;
  width: 50%;
}

.col-40 {
  flex: 0 0 auto;
  width: 40%;
}

.col-30 {
  flex: 0 0 auto;
  width: 30%;
}

.col-25 {
  flex: 0 0 auto;
  width: 25%;
}

.col-20 {
  flex: 0 0 auto;
  width: 20%;
}

.col-10 {
  flex: 0 0 auto;
  width: 10%;
}



/* Transitions */

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.2s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(5px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-5px);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-primary-muted);
  }
}

/* Responsive layout */
@media screen and (max-width: 480px) {
  .logo img {
    width: 220px;
    height: 33px;
  }
}

@media screen and (min-width: 1024px) {
  /* body {
    display: flex;
  } */

  h1 {
    font-size: 2.2rem;
  }

  #app {
    display: flex;
    padding: 0 2rem;
  }
}
