@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: 0.4s;
  padding: 3px;
}

i {
  font-size: 2rem;
  color: var(--color-text);
}

header {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

/* Fonts */
h1 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2.4rem;
  /* padding: 0 calc(var(--gutter-x)* .2); */
}

h2 {
  margin-bottom: calc(var(--gutter-y)* .5);
  padding: 0 calc(var(--gutter-x)* .2);
}

input, select {
  padding: var(--input-padding);
  margin: 0.25rem 0 0 0;
  min-height: 2.1rem;
  color: var(--color-input-text);
  background-color: var(--color-input-background);
  border: 1px solid var(--color-border);
  border-radius: 0.25rem;
  font-size: 1rem;
  transition: 0.15s ease-in-out;
}

input:focus {
  color: var(--color-input-text);
  outline: 0;
  border-color: var(--color-border-hover);
  box-shadow: 0 0 0 .25rem var(--color-shadow-hover);
}

button {
  padding: var(--input-padding);
  margin: 0 0 0 0.5rem;
  color: var(--color-button-text);
  background-color: var(--color-primary);
  border: 1px solid var(--color-border);
  border-radius: 0.25rem;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: var(--color-primary-muted);
  box-shadow: 0 0 0 .25rem var(--color-shadow-hover);
  outline: 0;
}

.btn-tag {
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  font-size: 0.6rem;
}

hr {
  margin: 1rem calc(var(--gutter-x)* .2);
  background-color: var(--color-border);
  border: none;
  height: 0.1em;
}

/* Transitions */

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.2s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(5px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-5px);
}


@media (hover: hover) {
  a:hover {
    background-color: var(--color-primary-muted);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: block;
    padding: 0 2rem;
  }
}
